article {
    text-align: center;
    padding: 15px;
    margin: 15px;
    flex-basis: 25%;
    background-color: rgb(0, 89, 255);
    border-radius: 10%;
    filter: drop-shadow(5px 5px 10px rgb(180, 191, 255));
}

dialog {
    text-align: left;
    background-color: rgb(0, 89, 255);
    border-radius: 10%;
    
}

.editable {
    border: 2px solid rgb(36, 74, 243);
}

output {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, p, button, form {
    text-align: left;
    font-family: 'Oxygen';
    color: aliceblue;
}

button {
    cursor: pointer;   
    border-radius: 10%;
    background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
    align-items: center;
    padding: 6px 14px;
}

button:hover {
    background-color: blue;
    color: aliceblue;
}

html {
    background-image: linear-gradient(45deg,rgb(30, 30, 118), darkblue, rgb(3, 89, 201));
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* CSS */
.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}